body {
  height: 99hv;
  background: #edeee9;
  margin: 0;
}
.main {
  padding-top: 80px;

  /* background-color: blue; */
}

.main h1 {
  text-align: center;
}

.mainFirst {
  background-color: rgb(27 27 28);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fontBox {
  color: #c7c0c8;
  font-size: 9vw;
  font-weight: bold;
  text-shadow: 3px -2px 2px #c475ee;
}
@media screen and (max-width: 768px) {
  .mainFirst {
    /* background-color: white; */
  }
  /* .mainSecond {
    display: none;
  }
  .mainPageBox {
    display: none; 
    height: 30%;
  } */
  .fontBox {
    font-size: 12vh;
  }
}
.fontBoxPoko {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 3vw; */
}

.fontReact {
  /* animation-delay: 1s; */
  animation-name: fontBox;
  animation-duration: 1.5s;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* position: absolute; */
}
.fontWith {
  animation-name: fontBox;
  animation-duration: 2s;
  /* animation-delay: 0.5s; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.fontPoko {
  animation-name: fontBox;
  animation-duration: 2.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(248, 154, 231), 0 0 82px rgb(248, 154, 231),
    0 0 92px rgb(248, 154, 231), 0 0 102px rgb(248, 154, 231),
    0 0 151px rgb(248, 154, 231);
  /* animation: pulsate 2.5s infinite alternate; */
  /* padding-left: 1em; */
  /* animation-delay: 1s; */
}
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  0% {
    /* Smaller blur radius */
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #0fa,
      0 0 45px #0fa, 0 0 55px #0fa, 0 0 70px #0fa, 0 0 80px #0fa;
  }
}

@keyframes fontBox {
  0% {
    /* display: none; */
    /* visibility: hidden; */
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(70vw);
  }
  80% {
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(0vw);
  }
  87% {
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(1vw);
  }
  90% {
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(0vw);
  }
  92% {
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(0.6vw);
  }
  95% {
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(0vw);
  }
  98% {
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(0.3vw);
  }
  100% {
    color: #c7c0c8;
    font-size: 9vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
    transform: translateX(0vw);
  }
}
.fontStart {
  /* padding-top: 5vh; */
  display: flex;
  flex-direction: column-reverse;
  height: 10em;
  padding-bottom: 0px;
  padding-left: 3vw;
  color: #c7c0c8;
  font-size: 1vw;
  font-weight: bold;
  text-shadow: 3px -2px 2px #c475ee;
  /* transition: all 0.5s cubic-bezier(0.39, 0.58, 0.15, 1.22); */
  animation-name: fontStartBox;
  animation-duration: 3.5s;
}
@keyframes fontStartBox {
  0% {
    /* display: none; */
    /* visibility: hidden; */
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(70vw);
  }
  60% {
    /* display: none; */
    /* visibility: hidden; */
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(70vw);
  }
  80% {
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(0vw);
  }
  87% {
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(1vw);
  }
  90% {
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(0vw);
  }
  92% {
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(0.6vw);
  }
  95% {
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(0vw);
  }
  98% {
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(0.3vw);
  }
  100% {
    color: #c7c0c8;
    font-size: 1vw;
    font-weight: bold;
    text-shadow: 3px -2px 2px #c475ee;
    transition: all 0.5s cubic-bezier(0.65, -0.42, 0.84, 0.87);
    transform: translateX(0vw);
  }
}

.mainSecond {
  background-color: rgb(27 27 28);
  width: 99vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSecBoard {
  background-color: #c475ee;
  width: 33vw;
  height: 100vh;
}

.productAndContactContainer {
  width: 66vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.mainSecContactUs {
  width: 66vw;
  height: 34vh;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.mainSecContactUsTop {
  background-color: sandybrown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 34vh;
  width: 19vw;
  padding: 0.3rem 0.4rem 1rem 0.4rem;
  font-size: 2rem;
  font-weight: 800;
}

.mainSecCards {
  /* background-color: grey; */
  height: 34vh;
  width: 70vw;
  min-height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0f7fa;
}

.contactUsCards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.contactUsCard {
  position: relative;
  width: 12vw;
  height: 32vh;
  margin: 0.4rem;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUsCardContent {
  bottom: -32vh;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(15px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
}

.contactUsCards .contactUsCard:hover .contactUsCardContent {
  /* bottom: -20vh; */
}
.contactUsCardImg {
  max-width: 100%;
  height: auto;
}

/* .contactUsCardContentBx {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} */

.contactUsCardContentBx h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  line-height: 1.1em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  transition-delay: 0.2s;
}

.contactUsCards .contactUsCard:hover .contactUsCardContent {
  bottom: -20vh;
}

.contactUsCards
  .contactUsCard:hover
  .contactUsCardContent
  .contactUsCardContentBx
  h3 {
  opacity: 1;
  transform: translateY(1vh);
}

.contactUsCards
  .contactUsCard:hover
  .contactUsCardContent
  .contactUsCardContentBx
  h3
  span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

.contactUsCardSci {
  position: relative;
  /* bottom: 10px; */
  display: flex;
  align-items: center;
}

.contactUsCards .contactUsCard .contactUsCardSci li {
  list-style: none;
  /* margin: 0 10px; */
  transform: translateY(-10px);
  transition: 0.5s;
  opacity: 0;
  color: #fff;
  transition-delay: calc(0.4s * var(--i));
}

.contactUsCards .contactUsCard:hover .contactUsCardSci li {
  transform: translateY(10px);
  opacity: 1;
}

.swiper {
  padding-top: 50px;
  padding-bottom: 50px;
  /* background-color: whitesmoke; */
  width: 10px;
}

.swiper-slide {
  border: 1px solid rgb(69, 69, 69);
  border-radius: 10px;
}
.mainSecProducts {
  width: 66vw;
  height: 66vh;
  background-color: rgb(27 27 28);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainProductTxt h1 {
  color: rgb(174, 173, 173);
  /* font-weight: 800; */
}
.mainProductsSwiperSlideRapper {
  height: 50vh;
  width: 66vw;
  background-color: rgb(27, 26, 26);
  color: whitesmoke;
}

.mainProductSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/*
.mainProductSwiper {
  background-color: white;
  border-radius: 1rem solid rgba(170, 50, 220, 0.6);
} */

/* .swiper-pagination swiper-pagination-bullets {
  display: none;
} */
