.Pbox {
  background: #dcdcdc;
  width: 30vw;
  height: 40vh;
  /* 투명도 */
  /* opacity: 0.5; */
  margin: 0px 20px 0px 0px;
}
/* .productArea {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
} */
.cardArea {
  display: flex;
  width: 1000px;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.title {
  height: 4vh;
  background: rgb(8 8 8);
  text-align: center;
  /* 세로가운데정렬 */
  line-height: 3vh;
  font-weight: bolder;
}

.productContainer {
  width: 100vw;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.productLanguage {
  color: white;
}

.productPage {
  /* background-color: blanchedalmond; */
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.productPageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.txtContainer {
  /* background-color: brown; */
  width: 100%;
  /* height: 20vh; */
  margin-top: 4%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleTxt {
  /* margin-top: 3rem; */
  font-size: 4rem;
  font-weight: 700;
}
.titleImg {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 10%; */
  /* margin-bottom: 2%; */
  /* object-fit: cover; */
  /* width: ; */
  /* height: 100px;
  width: 100px; */
}
.titleImg img {
  /* max-width: 100%;
  max-height: 100%; */
  /* object-fit: cover; */
  width: 100%;
}
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.productFilter {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.productFilter li {
  float: left;
  padding: 1rem;
}

.productCardContainer {
  /* background-color: rgb(8 8 8); */
  position: relative;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(300px, auto-fill);
  grid-auto-flow: dense;
  grid-gap: 10px;
}

.productCardStyle1 {
  background-color: #1b1b1b;
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;
  padding: 5%;

  transition: 0.5s;
  word-wrap: break-word;
}
.productCardStyle1:hover {
  background: #e91e63;
}

/* .productCardStyle2 {
  background-color: #1b1b1b;
  color: rgb(230, 230, 230);

  width: 32%;
  height: 96%;
  padding: 1rem;
} */
